/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
  --green-bg-light: 201, 211, 170; /* green mist #c9d3aa - light green background colour */
  --green-hg-dark: 78, 92, 40;    /* Woodland #4e5c28 - Dark Green colour for heading elements , buttons and footer background*/
  --green-mossy: 157, 183, 105;  /* Olivine - mossy green colour used for background on mid section */
  --lemon-grass: 157, 161, 154; /*  Lemon Grass #9da19a - colour used for the hover shadow for icon links in footer section */
  --white-text: 255, 255, 255; /* white colour used for text in hero and mid section*/
  --whitesmoke: 245, 245, 245; /* off white colour used in the footer for the social media icons */
}

body {
  background-color: rgba(var(--green-bg-light), 0.4);   /* green mist #c9d3aa - light green background colour */
  font-family: "Montserrat", sans-serif;
  color: rgba(var(--green-hg-dark), 1);  /*color: #4e5c28 - woodland */
}

h1, h2 , h3{
  font-family: "Shadows Into Light", cursive;
}

h1 {
  color: rgba(var(--green-hg-dark), 1); /* although this looks like duplicate css code , this element wasn't inheriting from the body text colour property , so it's necessary for this to be here. */
  font-size: 1.9rem; /* needed as the title was too big for the small mobile screen width of 320px*/
}

h2 {
  font-size: 1.8rem; /* for conistancy with the h1 reduction   */
}

h3 {
    font-size: 1.7rem; /* for conistancy with the h1 reduction   */
}

h5 {
    font-weight: 700;
}

.navbar{
    padding-left: 0; /*  make space for title on small screens */
    padding-right: 0; /* make space for title on small screens */
}

.navbar-nav{
    text-align: center; /* this puts the list of items in the navbar menu in centre screen*/
}

.nav-link{
     color: rgba(var(--green-hg-dark), 1);  /*color: #4e5c28 - woodland */
}

.nav-button {
    margin-bottom: 5px;
}

/*   home page section                           */

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: url("../images/phoenix-park-forest.jpg");

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* taken from  https://www.w3schools.com/howto/howto_css_hero_image.asp */
}

.hero-image-text {
  color: rgba(var(--white-text), 1);
  text-shadow: 1px 1px rgba(var(--green-hg-dark), 1);
  font-weight: 500;
  margin-top: 33vh;
  letter-spacing: 0.051em;
  background-color: rgba(var(--green-hg-dark), 0.8);
}


/*    about section                          */

.mid-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 5px;
  padding-top: 15px;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: #4F5C54;   /*   Nandor #4F5C54   */
  color: rgba(var(--white-text), 1);
  text-shadow: 1px 1px rgba(var(--green-hg-dark), 0.8);
}

.mid-section-text {
  padding-left: 5px;
  margin-left: 2vw;
}

.about-section{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*    cards gallery                          */

.card {
  background-color: transparent;
}

/*     contact us section                         */

.contact-form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.contact-page-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*    footer section                       */

.footer {
  background-color: rgba(var(--green-hg-dark), 1);
  height: 4rem;
  margin-top: 1rem;
}

#footer-list {
  /*    unordered list in the footer section                    */
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding-top: 20px;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-list-item a {
  color: rgba(var(--whitesmoke), 1);
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.footer-list-item a:hover {
  background-color: rgba(var(--lemon-grass), .5);
}

/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) {
  h1 {
    font-size: 2.5rem; /* default h1 size */
  }
}