:root {
  --green-bg-light: 135, 170, 75; /* light green background colour */
  --green-hg-dark: 80, 100, 45; /* Dark Green colour */
  --green-mossy: 125, 188, 143; /* mossy green colour */
}

body {
  background-color: rgba(var(--green-bg-light), 0.1);
  font-family: "Montserrat", sans-serif;
  color: rgba(var(--green-hg-dark), 1);
}

h1 {
  font-family: "Shadows Into Light", cursive;
  color: rgba(var(--green-hg-dark), 1);
}

h2 {
  font-family: "Shadows Into Light", cursive;
}

/*                              */

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero001.jpg");

  /* Set a specific height */
  height: 90vh;
  width: 100vw;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* taken from  https://www.w3schools.com/howto/howto_css_hero_image.asp */
}

.hero-image-text {
  color: white;
  padding-left: 52px;
  padding-top: 50vh;
  letter-spacing: 0.051em;
}

/*    about section                          */

.mid-section {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  padding-top: 30px;
  align-content: center;
  background-color: rgba(var(--green-mossy), 1);
  color: white;
}

/*    cards gallery                          */

.card{
    background-color: transparent;
}


/*     contact us section                         */

.contact-row{
    height: 90vh;
}

.contact-form{
    margin-top: 20vh;
}



/*    footer section                       */


.footer {
  background-color: rgba(var(--green-hg-dark), 1);
  height: 100px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 40px;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  /*color: rgba(var(--green-hg-dark), 1); */
  color:whitesmoke;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
