/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
  --green-bg-light: 135, 170, 75; /* light green background colour */
  --green-hg-dark: 80, 100, 45; /* Dark Green colour for heading */
  --green-mossy: 125, 188, 143; /* mossy green colour */
  --white-text : 255, 255, 255; /* white colour used for hero text and mid section*/
  --whitesmoke : 245, 245, 245; /* off white colour used in the footer for the social media icons */
  --black-shadow : 17, 17, 17; /* black colour used for the hover shadow for icon links in footer section */
}

body {
  background-color: rgba(var(--green-bg-light), 0.1);
  font-family: "Montserrat", sans-serif;
  color: rgba(var(--green-hg-dark), 1);
  font-size: 14px; 
}

h1 {
  font-family: "Shadows Into Light", cursive;
  color: rgba(var(--green-hg-dark), 1);
  font-size: 1.9rem; /* needed as the title was too big for the small mobile screen width of 320px*/
}

h2 {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.8rem; /* for conistancy with the h1 reduction   */
}

h3{
    font-family: "Shadows Into Light", cursive;
    font-size: 1.7rem; /* for conistancy with the h1 reduction   */
}

h5 {
  font-weight: 700;
}

.navbar{
    padding-left: 0; /*  make space for title */
    padding-right: 0; /* make space for title */
}

.navbar-nav{
    text-align: center;
}

.nav-button {
    margin-bottom: 5px;
}


/*   home page section                           */

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: url("../images/phoenix-park-forest.jpg");

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* taken from  https://www.w3schools.com/howto/howto_css_hero_image.asp */
}

.hero-image-text {
  color: rgba(var(--white-text), 1);
  text-shadow: 1px 1px rgba(var(--green-hg-dark), 1);

  margin-top: 33vh;
  letter-spacing: 0.051em;
  background-color: rgba(var(--green-hg-dark), 0.5);
}


/*    about section                          */

.mid-section {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  padding-top: 15px;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(var(--green-mossy), 1);
  color: rgba(var(--white-text), 1);
  text-shadow: 1px 1px rgba(var(--green-hg-dark), 0.1);
}

.mid-section-text {
  padding-left: 5px;
  margin-left: 2vw;
}

/*    cards gallery                          */

.card {
  background-color: transparent;
}

/*     contact us section                         */

.contact-form {
  margin-top: 10vh;
  margin-bottom: 1vh;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.contact-page-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 33vh;
}

/*    footer section                       */

.footer {
  background-color: rgba(var(--green-hg-dark), 1);
  height: 60px;
}

#footer-list {
  /*    unordered list in the footer section                    */
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding-top: 20px;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-list-item a {
  color: rgba(var(--whitesmoke), 1);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.footer-list-item a:hover {
  background-color: rgba(var(--black-shadow), 0.1);
}

/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) {
  h1 {
    font-size: 2.5rem; /* default h1 size */
  }
}