:root {
    --green-bg-light: 248, 247, 242; // light background colour
}

body {
    background-color: rgb (var(--green-bg-light));
    font-family: 'Montserrat', sans-serif;
}

h1 {
     font-family: 'Shadows Into Light', cursive;
}

