:root {
  --green-bg-light: 135, 170, 75; /* light green background colour */
  --green-hg-dark: 80, 100, 45; /* Dark Green colour */
  --green-mossy: 125, 188, 143; /* mossy green colour */
}

body {
  background-color: rgba(var(--green-bg-light), 0.1);
  font-family: "Montserrat", sans-serif;
  color: rgba(var(--green-hg-dark), 1);
  font-size: 14px;
}

h1 {
  font-family: "Shadows Into Light", cursive;
  color: rgba(var(--green-hg-dark), 1);
  font-size: 1.9rem; /* needed as the title was too big for the small mobile screen width */
}

h2 {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.8rem;
}

h3{
    font-size: 1.7rem;
}
}

h5 {
  font-weight: 700;
}

/*   home page section                           */

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: url("../images/Hero_PheonixPark10.jpg");

  /*    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Hero_PheonixPark10.jpg");  */

  /* Set a specific height */
  height: 90vh;
  width: 100vw;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* taken from  https://www.w3schools.com/howto/howto_css_hero_image.asp */
}

.hero-image-text {
  color: white;
  padding-left: 52px;
  margin-top: 50vh;
  letter-spacing: 0.051em;
  text-shadow: 1px 1px rgba(var(--green-hg-dark), 1);
  background-color: rgba(var(--green-hg-dark), 0.5);
}

/*    about section                          */



.mid-section {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  padding-top: 15px;
  width: 90%;
  align-content: center;
  background-color: rgba(var(--green-mossy), 1);
  color: white;
}

.mid-section-text {
  padding-left: 5px;
  margin-left: 2vw;
}

/*    cards gallery                          */

.card {
  background-color: transparent;
}

/*     contact us section                         */

.contact-row {
  height: 90vh;
}

.contact-form {
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

.contact-page-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 33vh;
}

/*    footer section                       */

.footer {
  background-color: rgba(var(--green-hg-dark), 1);
  height: 60px;
}

#footer-list {
  /*    unordered list in the footer section                    */
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 20px;
  overflow: hidden;
}

.footer-list-item {
  /* each li tag */
  float: left;
}

.footer-list-item a {
  /*color: rgba(var(--green-hg-dark), 1); */
  color: whitesmoke;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.footer-list-item a:hover {
  background-color: #111111;
}

/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) {
  h1 {
    font-size: 2.5rem; /* default h1 size */
  }

#contact{
    padding-top: 50px; /* purpose is to make a clean break between about page section and contact page section on small screens and above  */
}


}
